---
# NOTE there must be no spaces before the '-', so put the comma last.
Checks: '-*,
clang-diagnostic-*,
-clang-diagnostic-unused-function,
clang-analyzer-*,
modernize-*,
-modernize-use-trailing-return-type,
-modernize-use-nodiscard,
-modernize-pass-by-value,
-modernize-avoid-c-arrays,
-modernize-avoid-bind,
google-*,
-google-readability-namespace-comments,
-google-runtime-references,
-google-readability-braces-around-statements,
-google-build-using-namespace,
-google-explicit-constructor
llvm-*,
-llvm-namespace-comment,
-llvm-header-guard,
cppcoreguidelines-*,
-cppcoreguidelines-macro-usage,
-cppcoreguidelines-avoid-c-arrays,
-cppcoreguidelines-pro-bounds-constant-array-index,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-pro-bounds-array-to-pointer-decay,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-init-variables,
-cppcoreguidelines-avoid-goto,
-cppcoreguidelines-special-member-functions,
-cppcoreguidelines-pro-type-const-cast,
-cppcoreguidelines-pro-type-member-init,
-cppcoreguidelines-narrowing-conversions,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-owning-memory,
hicpp-*,
-hicpp-avoid-c-arrays,
-hicpp-braces-around-statements,
-hicpp-signed-bitwise,
-hicpp-no-array-decay,
-hicpp-vararg,
-hicpp-avoid-goto,
-hicpp-member-init,
-hicpp-special-member-functions,
-hicpp-explicit-conversions,
readability-*,
-readability-else-after-return,
-readability-braces-around-statements,
-readability-magic-numbers,
-readability-named-parameter,
-readability-implicit-bool-conversion,
-readability-isolate-declaration,
bugprone-*,
-bugprone-macro-parentheses,
-bugprone-terminating-continue,
-bugprone-signed-char-misuse,
-bugprone-narrowing-conversions,
-bugprone-suspicious-enum-usage,
cert-*,
-cert-err58-cpp,
-cert-err34-c,
-cert-dcl50-cpp,
misc-*,
-misc-non-private-member-variables-in-classes,
performance-*,
portability-*,
  '
WarningsAsErrors: ''
HeaderFilterRegex: ''
AnalyzeTemporaryDtors: false
FormatStyle:     none
...
