[submodule "thirdparty/tinyxml2"]
	path = thirdparty/tinyxml2
	url = git@github.com:leethomason/tinyxml2.git
[submodule "thirdparty/tinyformat"]
	path = thirdparty/tinyformat
	url = git@github.com:c42f/tinyformat.git
