[Desktop Entry]
Version=1.0

Type=Application
Name=Complx
GenericName=LC3 Simulator
Comment=Simulator for the lc3 assembly language by Brandon
Icon=complx
Categories=Development
Exec=complx %U
TryExec=complx
Terminal=false
